--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
opencv-python-headless
easyocr
streamlit
streamlit-cropper
pyzbar
pytesseract
pandas
pillow
google-genai
zxing-cpp
streamlit-folium
folium
geopy
google-genai
opencv-python-headless
numpy
